/* header */
#header-info {
    margin: 0 auto;
}

#contact>div {
    display: flex;
    align-items: center;
}

header p {
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

header svg {
    margin: 0 0.5rem;
}

header a {
    color: #000;
}

/* main */
#nav-container {
    position: sticky;
    top: 0;
    width: 75%;
    margin: 0 auto;
    border-radius: 5rem;
    background-color: orange;
    z-index: 1;
    box-sizing: border-box;
}

nav {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.5rem;
}

nav ul {
    justify-content: space-around;
    flex: 1;
}

nav li {
    padding: 0.5rem;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: #000;
}

nav div {
    display: flex;
    align-items: center;
}

nav button {
    border: 0;
    background-color: transparent;
}

nav button:hover {
    cursor: pointer;
}

#main-container {
    margin-top: -45px;
    color: #fff;
    text-align: center;
}

#inner {
    height: 100%;
    display: grid;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 2rem;
}

.card {
    width: fit-content;
    height: 100%;
    margin: 0 auto;
    border-radius: 0.5rem;
    background-color: #fff;
}

.card-header {
    width: 100%;
}

.card-footer {
    width: 100%;
    background-color: yellowgreen;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    align-items: center;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
    justify-content: start;
}

.card-footer:hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    justify-content: center;
}

.card a {
    color: #fff;
}

.image {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#inner {
    width: 100%;
}

#inner a {
    margin: 0;
    font-size: 1.5rem;
    padding: 1rem;
}

h1 {
    margin: 0;
}

/* footer */
footer div {
    text-align: center;
}

/* responsive */
@media screen and (max-width: 576px) {
    #main-container {
        background-color: aquamarine;
        color: #000;
    }

    #header-info {
        text-align: center;
        font-size: 1.25rem;
    }

    #contact>div {
        width: fit-content;
        margin: 0 auto 1rem;
    }

    header ul {
        width: fit-content;
        margin: 1rem auto;
    }

    #nav-container {
        width: 100%;
        border-radius: 0;
    }

    nav {
        padding: 0;
    }

    nav ul {
        font-size: 1rem;
    }

    nav svg {
        width: 16px;
        height: 16px;
    }

    #inner {
        grid-template-columns: 1fr;
    }

    .item {
        height: 350px;
        margin-bottom: 2rem;
    }

    .image {
        width: 250px;
        height: 250px;
    }

    .card-footer {
        height: 100px;
    }
}

@media screen and (min-width: 576px) {
    #main-container {
        background-color: aquamarine;
        color: #000;
    }

    #header-info {
        text-align: center;
        font-size: 1.25rem;
    }

    #contact>div {
        width: fit-content;
        margin: 0 auto 1rem;
    }

    header ul {
        width: fit-content;
        margin: 1rem auto;
    }

    #nav-container {
        width: 80%;
        border-radius: 5rem;
        padding: 1rem;
    }

    nav {
        padding: 0;
    }

    nav ul {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    nav svg {
        width: 16px;
        height: 16px;
    }

    #inner {
        grid-template-columns: 1fr 1fr;
    }

    #title {
        grid-column: 1 / span 2;
    }

    .item {
        height: 350px;
        margin-bottom: 3rem;
    }

    .image {
        width: 250px;
        height: 250px;
    }

    .card-footer {
        height: 100px;
    }
}

@media screen and (min-width: 768px) {
    #main-container {
        min-height: 170vh;
        background-image: url("../images/Banner2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: 0;
        color: #fff;
    }

    #overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 170vh;
    }
}

@media screen and (min-width: 992px) {

    #main-container {
        min-height: 150vh;
    }

    #overlay {
        height: 150vh;
    }

    #header-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        font-size: 1rem;
    }

    #contact {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex: 1;
    }

    nav ul {
        width: 75%;
        flex: none;
    }

    nav svg {
        width: 32px;
        height: 32px;
    }

    #title {
        font-size: 2rem;
    }

    #inner {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr repeat(2, 2fr);
    }

    #inner a {
        font-size: 2rem;
    }

    #title {
        grid-column: 1 / span 3;
    }
}

@media screen and (min-width: 1200px) {
    #header-info {
        width: 90%;
        font-size: 1.2rem;
        padding: 0;
    }

    #contact {
        justify-content: space-around;
    }

    nav ul {
        width: 60%;
    }

    #title {
        font-size: 2.5rem;
    }

    .item{
        height: 400px;
    }

    .image {
        width: 300px;
        height: 300px;
    }

    .card-footer{
        height: 100px;
    }
}

@media screen and (min-width: 1400px) {
    #header-info {
        width: 75%;
    }

    #contact {
        justify-content: flex-end;
        flex: none;
    }

    #contact>div {
        margin: 0 1rem;
    }

    #inner {
        width: 75%;
    }
}

/* global */
body {
    margin: 0;
}

* {
    transition: all 250ms linear;
}

a {
    text-decoration: none;
}

.display-none {
    display: none;
}

.active a {
    color: #000 !important;
    text-decoration: underline solid #000 !important;
}

.scrolled {
    width: 100% !important;
    border-radius: 0 !important;
}