body {
    margin: 0;
    padding: 1.5rem;
    background-color: purple;
}

#container {
    background-color: silver;
    border-radius: 2rem;
    margin: 0 auto;
    overflow: hidden;
}

.item {
    height: 20%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: height 250ms ease-out;
}

.item:not([class~='div-active']) {
    cursor: pointer;
}

.inner-header {
    box-sizing: border-box;
}

.inner-footer {
    flex: 1;
    display: none;
    box-sizing: border-box;
    transition: opacity 250ms ease;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 75%;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #efefef;
    box-sizing: border-box;
    transition: box-shadow 300ms linear;
}

input:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

input:focus {
    background-color: #fff;
}

input[type='submit'] {
    color: #fff;
    background-color: purple;
    padding: 0.5rem 1rem;
    width: 50%;
}

input[type='submit']:hover {
    cursor: pointer;
}

p {
    margin: 0;
    text-align: center;
    font-weight: 1000;
}

#con-bottom {
    display: flex;
    flex: 1;
    background-color: rgb(118, 118, 245);
    border-radius: 0 0 2rem 2rem;
}

.bg {
    background-color: rgb(118, 118, 245);
}

.b-rad {
    border-radius: 50% 50% 0 0;
}

/* active, not active */
.div-active {
    height: 80%;
}

.active {
    display: block;
}

.fade {
    opacity: 0;
}

/* Responsive */
@media screen and (max-width: 576px) {
    #container {
        height: 90vh;
        width: 100%;
        font-size: 1.5rem;
    }

    .item>div {
        padding: 0.5rem;
    }

    input {
        font-size: 1rem;
    }
}

@media screen and (min-width:576px) {
    #container {
        height: 95vh;
        width: 75%;
        font-size: 2rem;
    }

    .item>div {
        padding: 0.5rem;
    }

    input {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:768px) {
    #container {
        width: 60%;
        font-size: 2.5rem;
    }

    .item>div {
        padding: 0.75rem;
    }

    input {
        font-size: 1.25rem;
    }
}

@media screen and (min-width:992px) {
    #container {
        width: 50%;
        font-size: 3rem;
    }

    .item>div {
        padding: 1rem;
    }

    input {
        font-size: 1.5rem;
    }
}